.card-title {
	color: #6f7d8f;
	font-size: 1rem;
	font-weight: bold;
}

.card-header {
	background: none;
	background-color: none;
	padding: 0px;
	margin-top: -10px;
}
.value {
	color: #6f7d8f;
	font-size: 4rem;
}

.title {
	color: #6f7d8f;
}

.circle {
	height: 15px;
	width: 15px;
	background-color: var(--bg1);
	border-radius: 50%;
	transform: translateY(-2px);
	border: 4px solid #6f7d8f;
}

.active {
	* {
		color: #00b074;
	}
	.circle {
		border: 4px solid #00b074;
	}
}

.green {
	color: #00b074;
}
