.card {
	box-shadow: rgba(159, 159, 161, 0.25) 0px 13px 27px -5px,
		rgba(184, 182, 182, 0.3) 0px 8px 16px -8px;
}
.value {
	font-size: 5rem;
	font-family: bold;
}

.title {
	font-size: 1.2rem;
}
.link {
	&:hover {
		text-decoration: underline;
	}
}
