<div
	class="card clinic-card"
	[style.background]="background"
	[style.color]="color"
>
	<div class="d-flex">
		<span class="title">{{ title }}</span>
		<span (click)="callback()" role="button" class="ml-auto link">
			Export Data
			<i-feather name="chevron-right"></i-feather>
		</span>
	</div>
	<div class="d-flex">
		<div class="value mr-3">{{ value }}</div>
		<div class="mt-4">
			<div class="2nd-title mb-3">{{ secondTitle }}</div>
			<div class="2nd-value">{{ secondValue }}</div>
		</div>
	</div>
</div>
