<ng-template #component>
	<app-back-toolbar></app-back-toolbar>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="card-header">
			<div class="d-flex">
				<div>
					<div class="mail">
						From: Danatalemarathospital@gmail.com
					</div>
					<div class="clinic">Danat Al Emarat Hospital</div>
				</div>
				<div class="ml-auto">
					<span
						>Date
						<span>01-02-22</span>
					</span>
					<span
						>Time
						<span>03:26:13</span>
					</span>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div class="title">Clinic Name</div>
					<div class="value">Aster Clinic</div>

					<div class="title">Clinic Address</div>
					<div class="value">
						Millenium Tower Shiekh Zayed Rd Dubai UAE
					</div>

					<div class="title">Email</div>
					<div class="value">Asterclinic@gmail.com</div>

					<div class="title">Mobile No.</div>
					<div class="value">Asterclinic@gmail.com</div>

					<div class="title">User Name</div>
					<div class="value">Aster Clinic Admin</div>
				</div>
				<div class="col-md-4">
					<div class="title">Subscription</div>
					<div class="value">Trial</div>

					<div class="title">Users</div>
					<div class="value">2</div>

					<div class="title">Account #1</div>
					<div class="value">John</div>

					<div class="title">Account #2</div>
					<div class="value">Jenny</div>
				</div>
				<div class="col-md-4">
					<div class="underlined">View Trade License</div>
				</div>
				<div class="col-md-12 mt-5">
					<div class="d-flex">
						<button class="btn b ml-auto">Activate</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
