<ng-template #component>
	<app-back-toolbar></app-back-toolbar>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="card-header">
			<div class="d-flex">
				<div>
					<div class="mail">
						From:
						<span class="underlined bold">{{
							clinic.email || 'N/A'
						}}</span>
					</div>
					<div class="clinic bold green">{{ clinic.name }}</div>
				</div>
				<div class="ml-auto">
					<span>
						<span class="bold mr-2">Date</span>
						<span class="mr-5">{{
							clinic.createdAt | date: 'MMM dd, yyyy'
						}}</span>
					</span>
					<span>
						<span class="bold mr-2">Time</span>
						<span class="mr-5">{{
							clinic.createdAt | date: 'hh:mm a'
						}}</span>
					</span>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 pr-5">
					<div class="title">Clinic Name</div>
					<div class="value">{{ clinic.name }}</div>

					<div class="title">Clinic Address</div>
					<div class="value">
						{{ clinic.address }}
					</div>

					<div class="title">Email</div>
					<div class="value">{{ clinic.email || 'N/A' }}</div>

					<div class="title">Mobile No.</div>
					<div class="value">{{ clinic.phones[0].phone }}</div>

					<div class="title">User Name</div>
					<div class="value">{{ clinic.username }}</div>
				</div>
				<div class="col-md-4">
					<div class="title">Subscription</div>
					<div class="value">Trial</div>

					<div class="title">Users</div>
					<div class="value">{{ clinic.clinicAccounts.length }}</div>

					<div class="title">Accounts</div>
					<div
						*ngFor="
							let user of clinic.clinicAccounts;
							let i = index
						"
					>
						<div class="value d-flex aic ml-3 mt-2 bold">
							<i-feather
								name="user"
								class="mr-2 green"
							></i-feather>
							<span class="mt-2 green">{{ user.name }}</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="title">Trade License No.</div>
					<div class="value mb-5">
						{{ clinic.tradeLicenseNumber }}
					</div>
					<div class="underlined">
						View Trade License

						<span
							><i-feather name="chevron-right"></i-feather
						></span>
					</div>
				</div>
				<div class="col-md-12 mt-5">
					<div class="d-flex">
						<button class="btn b ml-auto">Activate</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
