.title {
	color: var(--color2);
	font-size: 1rem;
	margin-top: 1rem;
}
.value {
	color: var(--color1);
	font-size: 1.3rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
}

.btn {
	background: var(--accent);
	color: white;
	border-radius: 15px;
	font-size: 1.2rem;
	height: 50px;
	min-width: 150px;
}

.card-header {
	background: transparent;
	padding-bottom: 1rem;
	padding-top: 2rem;
}

.clinic {
	margin-top: 2rem;
	font-size: 1.3rem;
	color: var(--color2);
}

.file {
	display: inline-block !important;
	border-radius: 99px;
	padding: 10px 20px;
	background: var(--bg2);
	color: var(--color1);
	&:hover {
		text-decoration: underline;
	}
}

.isProcessing {
	.btn {
		background: none !important;
		border: none;
		:focus {
			outline: 0 !important;
		}
		.btn:focus {
			outline: 0 !important;
		}

		button:focus {
			outline: 0 !important;
		}
	}
}
.btn {
	background: var(--accent);
	span {
		color: var(--bg1);
	}
	border-radius: 9999px;
	font-size: 1.2rem;
	height: 50px;
	transition: 1.3s ease;
	padding-left: 30px;
	padding-right: 30px;
	:focus {
		outline: 0 !important;
	}
}

.btn :active {
	font-size: 0.95rem;
}
