<ng-template #component>
	<app-back-toolbar></app-back-toolbar>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<div class="card-header">
			<div class="d-flex">
				<div>
					<div class="mail">
						From:
						<span class="underlined bold">{{
							clinic?.email || 'N/A'
						}}</span>
					</div>
					<div class="clinic bold green">{{ clinic?.name }}</div>
				</div>
				<div class="ml-auto">
					<span>
						<span class="bold mr-2">Date</span>
						<span class="mr-5">{{
							clinic?.createdAt | date: 'MMM dd, yyyy'
						}}</span>
					</span>
					<span>
						<span class="bold mr-2">Time</span>
						<span class="mr-5">{{
							clinic?.createdAt | date: 'hh:mm a'
						}}</span>
					</span>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 pr-5">
					<div class="title">Clinic Name</div>
					<p class="value">{{ clinic?.name }}</p>

					<div class="title">Clinic Address</div>
					<p class="value">
						{{ clinic?.address }}
					</p>

					<div class="title">Email</div>
					<p class="value">{{ clinic?.email || 'N/A' }}</p>

					<div class="title">User Name</div>
					<p class="value">{{ clinic?.username }}</p>
				</div>
				<div class="col-md-4">
					<div class="title">Subscription</div>
					<div class="value">Trial</div>

					<div class="title">
						Accounts {{ clinic?.clinicAccounts.length }}
					</div>
					<div
						*ngFor="
							let user of clinic?.clinicAccounts;
							let i = index
						"
					>
						<div class="value d-flex aic ml-3 mt-2 bold">
							<i-feather
								name="user"
								class="mr-2 green"
							></i-feather>
							<span class="mt-2 green">{{ user?.name }}</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="title">Trade License No.</div>
					<div class="value mb-5 bold">
						{{ clinic?.tradeLicenseNumber }}
					</div>
					<div class="title">Trade License</div>

					<a
						target="_blank"
						[href]="file.url"
						role="button"
						*ngFor="let file of clinic?.files"
						class="file mt-2"
					>
						{{ file.name }}
						<i-feather name="chevron-right"></i-feather>
					</a>
				</div>
				<div *ngIf="clinic.isApproved" class="col-md-12 d-flex">
					<div class="ml-auto bold green">
						<i-feather name="check" class="mr-2"></i-feather>
						<span>Account Activated</span>
					</div>
				</div>
				<div *ngIf="!clinic.isApproved" class="col-md-12">
					<div
						class="d-flex process"
						[class.isProcessing]="isProcessing === true"
					>
						<button
							#activateBtn
							(click)="activate(clinic?.id)"
							class="btn primary-button ml-auto isProcessing"
						>
							<span *ngIf="isProcessing === 'complete'"> </span>
							<span *ngIf="!isProcessing">
								Activate {{ clinic?.name }}</span
							>

							<div
								style="color: var(--accent) !important"
								*ngIf="isProcessing === true"
								class="spinner-border"
								role="status"
							></div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
