<div class="row">
	<div class="col-md-6">
		<div class="title">Total Engagement Reach</div>
		<div class="value">321</div>
	</div>
	<div class="col-md-6 active">
		<div class="title">Total Reach</div>
		<div class="value">872</div>
	</div>
	<div class="col-md-6">
		<div class="d-flex">
			<span class="green mr-2">+ 3.8</span>
			Engagement From The Last Month
		</div>
	</div>
	<div class="col-md-6">
		<div class="d-flex">
			<span class="green mr-2">+ 3.8</span>
			Total Reach From The Last Month
		</div>
	</div>
	<div class="col-md-12 mt-5" style="margin-bottom: -30px">
		<div class="d-flex">
			<span class="blue mr-2" style="font-weight: 900"
				>Website Visitors</span
			>
			<span class="green">+ 432</span>
		</div>
	</div>
</div>
