<div class="login-container">
	<div class="nav">
		<img src="../../../assets/app/logo.png" alt="" />
	</div>
	<content class="row">
		<div class="col-md-12">
			<div class="container">
				<div class="login-container-wrapper">
					<h1>Welcome Back!</h1>
					<p class="text-center text-muted">
						Log-in with your Super administrator account.
					</p>
					<div class="form-group mt-3">
						<input
							#username
							[(ngModel)]="data.username"
							type="text"
							class="form-control"
							placeholder="Password"
						/>
					</div>
					<div class="form-group mt-3">
						<input
							[(ngModel)]="data.password"
							(keyup.enter)="login()"
							type="password"
							class="form-control"
							placeholder="Username"
						/>
					</div>

					<div
						(click)="login()"
						[class.isProcessing]="isProcessing === true"
						[class.isComplete]="isProcessing === 'complete'"
						class="d-flex mt-3"
					>
						<button class="btn primary-button w-100">
							<span *ngIf="isProcessing === 'complete'">
								<i-feather name="check"></i-feather>
							</span>
							<span *ngIf="!isProcessing"> Yallah! Log-in</span>

							<div
								style="color: var(--accent) !important"
								*ngIf="isProcessing === true"
								class="spinner-border text-success"
								role="status"
							></div>
						</button>
					</div>
					<div class="d-flex w-10">
						<a class="link w-100">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
	</content>
	<footer>
		<div class="copy-right">
			<span> Powered by: </span>
			<span class="underlined bold">Digital Brand Work Technology.</span
			><br />
			<span class="bold"> All Rights Reserved</span>
		</div>
	</footer>
</div>
