<div class="login-container">
	<div class="nav">
		<img src="../../../assets/app/logo.png" alt="" />
	</div>
	<content class="row">
		<div class="col-md-12">
			<div class="container">
				<div class="login-container-wrapper">
					<h1>Howdy! Master</h1>
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>Password</label>
						<input
							(keyup.enter)="login()"
							type="password"
							class="form-control"
						/>
					</div>

					<div
						(click)="login()"
						[class.isProcessing]="isProcessing === true"
						[class.isComplete]="isProcessing === 'complete'"
						class="d-flex"
					>
						<button class="btn primary-button w-100">
							<span *ngIf="isProcessing === 'complete'">
								<i-feather name="check"></i-feather>
							</span>
							<span *ngIf="!isProcessing"> Log-in </span>

							<div
								*ngIf="isProcessing === true"
								class="spinner-border text-success"
								role="status"
							>
								<span class="sr-only">Loading...</span>
							</div>
						</button>
					</div>
					<div class="d-flex w-10">
						<a class="link text-center w-100">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
	</content>
	<footer>
		<div class="copy-right">
			<span> Powered by: </span>
			<span class="underlined bold">Digital Brand Work Technology.</span
			><br />
			<span class="bold"> All Rights Reserved</span>
		</div>
	</footer>
</div>
