.login-container {
	background-color: var(--page);
	height: 100vh;
}

.nav {
	img {
		height: 137px;
		width: 111px;
		object-fit: contain;
	}
	width: 100%;
	padding: 0 90px;
}

h1 {
	text-align: left;
	letter-spacing: 0.07px;
	color: #00b074;
	font-size: 34px;
	margin-bottom: 24px;
	text-align: center;
}

.login-container-wrapper {
	width: 600px;
	background: var(--bg1) 0% 0% no-repeat padding-box;
	border-radius: 15px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 90px 100px;
	min-height: 650px;
	box-shadow: var(--dropShadow);
}

.container {
	display: flex;
	flex-direction: column;
}

.btn {
	margin-top: calc(83px - 45px);
	background: var(--accent);
	span {
		color: var(--bg1);
	}
	border-radius: 15px;
	font-size: 1.2rem;
	height: 50px;
	transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.isProcessing {
	.btn {
		width: 50px !important;
		border-radius: 50%;
		align-self: center;
		margin: auto;
		background: var(--bg);
		border: none;
		margin-top: calc(83px - 45px);
		padding: 0 !important;
	}
}
.btn :focus {
	outline: 0 !important;
}
button:focus {
	outline: 0 !important;
}
.btn :active {
	font-size: 0.2rem;
}
.isComplete {
	.btn {
		width: 150px !important;
		border-radius: 30px;
		margin: auto;
		opacity: 1;
		font-size: 1.5rem;
		margin-top: calc(83px - 45px);
	}
}

input {
	border: 1px solid rgba($color: gray, $alpha: 0.2) !important;
	margin-bottom: 0px;
	font-size: 1rem;
	border-radius: 15px;
	padding: 1rem !important;
	height: 3.1rem !important;
}

a {
	text-align: center;
	color: #00b074 !important;
	font-size: 19px;
	font-weight: 500;
	align-self: center;
	margin-top: 33px;
	cursor: pointer;
}

footer {
	width: 100%;
	margin: 1rem;
	position: fixed;
	bottom: 0;
	div {
		font-size: 1rem;
		width: 100%;
	}
}
