.login-container {
	background-color: var(--page);
	height: 100vh;
}

.nav {
	img {
		height: 137px;
		width: 111px;
		object-fit: contain;
	}
	width: 100%;
	padding: 0 90px;
}

h1 {
	text-align: left;
	letter-spacing: 0.07px;
	color: var(--accent);
	font-size: 34px;
	margin-bottom: 24px;
	text-align: center;
	font-family: bold;
	font-weight: 900;
}

.login-container-wrapper {
	width: 500px;
	background: var(--bg1) 0% 0% no-repeat padding-box;
	border-radius: 15px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 90px 100px;
	min-height: 550px;
	box-shadow: var(--dropShadow);
}

.container {
	display: flex;
	flex-direction: column;
}

input {
	border: 1px solid rgba($color: gray, $alpha: 0.2) !important;
	margin-bottom: 0px;
	font-size: 1rem;
	border-radius: 9999px;
	padding: 1rem !important;
	height: 3.1rem !important;
}

a {
	text-align: center;
	color: #00b074 !important;
	font-size: 19px;
	font-weight: 500;
	align-self: center;
	margin-top: 33px;
	cursor: pointer;
}

footer {
	width: 100%;
	margin: 1rem;
	position: fixed;
	bottom: 0;
	div {
		font-size: 1rem;
		width: 100%;
	}
}
