<nav>
	<div class="logo-div">
		<img class="logo" src="../../../assets/app/logo.png" alt="" />
	</div>
	<div class="search-input d-flex aic">
		<div class="search-icon">
			<i-feather name="search"></i-feather>
		</div>
		<input type="search" placeholder="Search Mawedy" />
	</div>

	<div class="aside">
		<div role="button" class="notification mr-5">
			<i-feather name="bell"></i-feather>
		</div>

		<img
			role="button"
			class="avatar"
			src="../../../assets/avatars/face-7.jpg"
			alt=""
		/>

		<div role="button" class="dropdown">
			<i-feather name="chevron-down"></i-feather>
		</div>
	</div>
</nav>
