.premium {
	color: #dfb217;
}

.blue {
	color: #2f9af5;
}

thead tr:first-child th {
	position: sticky;
	top: 0px;
	background: var(--table);
	transition: 0.5s ease-in;
}

th {
	font-family: normal !important;
	font-weight: 200;
}
td {
	padding-top: 15px;
	border-bottom: 1px solid var(--border1);
}
