img {
	height: 58px;
	width: 58px;
	object-fit: contain;
	border-radius: 50%;
}
.location {
	font-size: 0.9rem;
}
.clinic {
	font-size: 1.1rem;
}

td {
	vertical-align: middle;
	color: var(--color2);
}

tr {
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

.clickable {
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	&:hover {
		background-color: var(--bg2);
	}
}

.form-control {
	margin: 0;
}
