* {
	font-family: 'normal';
}
html,
body {
	height: 100%;
	overflow-x: hidden;
	background-color: var(--bg1);
}

.page {
	background: var(--page);
	padding: 64px;
	min-height: 83vh;
	width: calc(100vw - 280px);
	padding-top: 8rem;
}

.page-content {
	background: var(--pageContent) 0% 0% no-repeat padding-box;
	border-radius: 16px;
	min-height: 76.4vh;
	padding: 20px 30px;
	box-shadow: rgba(79, 112, 97, 0.15) 0px 48px 100px 0px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #bfc8d5;
	border-radius: 30px;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.bold {
	font-family: bold;
}

thead tr:first-child th {
	position: sticky;
	top: -20px;
	background: var(--table);
	transition: 0.5s ease-in;
}
table thead th {
	border: none !important;
	border-bottom: 1px solid var(--border2) !important;
	font-family: bold !important;
	font-size: 1rem !important;
	color: var(--thColor) !important;
}

tbody {
	color: var(--trColor);
	font-size: 14px;
}

.table td {
	border-top: 0px transparent !important;
}

.underlined {
	color: var(--color1);
	text-decoration: underline;
	cursor: pointer;
}

label {
	margin: 9px 0;
	color: var(--color2);
	letter-spacing: 0.03px;
	font-size: 16px;
}

.form-control {
	margin-bottom: 20px;
	color: var(--color1) !important;
	padding-left: 12px;
	font-family: normal;
	height: 40px !important;
	background-color: var(--searchInput) !important;
	border: 1px solid var(--inputBorder) !important;
}

::placeholder {
	color: var(--color2);
	font-family: normal !important;
}

option[value=''][disabled] {
	color: var(--color2);
	font-family: normal !important;
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem #00b0759c !important;
}

.modal-header {
	border: none !important;
	align-items: center;
}

.separator {
	width: 100%;
	height: 1px;
	border: 1px solid var(--border);
	margin: 29px 0;
}

.touchable {
	&:hover {
		transform: scale(1.03) !important;
		transition: 0.2s;
		border-radius: 30px !important;
		box-shadow: none !important;
	}
	&:active {
		opacity: 0.5;
		transform: scale(1) !important;
	}
}

i {
	font-size: 1.3rem !important;
}

.card {
	padding: 33px;
	border-radius: 15px;
	background: var(--bg1);
	border: none;
	box-shadow: var(--dropShadow);
	background: var(--bg3);
}

.sticky {
	position: sticky;
	top: 0;
}
.green {
	color: #00b074 !important;
}
.blue {
	color: #2f9af5 !important;
}

.underlined {
	text-decoration: underline;
}

.card-header {
	padding: 0;
	background: none;
}
.card-title {
	color: #6f7d8f;
	font-size: 1rem;
	font-weight: bold;
}
