.card-title {
	color: #6f7d8f;
	font-size: 1rem;
	font-weight: bold;
}

.downloads {
	margin-bottom: 1rem;
}

.title {
	color: #6f7d8f;
}

.value {
	color: #2f9af5;
	font-size: 1.5rem;
	font-weight: bold;
}
