<div class="row">
	<div class="col-md-3">
		<div class="title">Total View</div>
		<div class="value">321</div>
	</div>
	<div class="col-md-3 active">
		<div class="title">Registered</div>
		<div class="value">321</div>
	</div>
	<div class="col-md-3">
		<div class="d-flex aic input">
			<div class="circle mr-2"></div>
			<span>Total View</span>
		</div>
		<div class="d-flex aic input active">
			<div class="circle mr-2"></div>
			<span>Total Registered</span>
		</div>
	</div>
	<div class="col-md-3">
		<select class="form-control">
			<option>2022</option>
		</select>
	</div>
	<div class="col-md-12">
		<canvas
			baseChart
			[datasets]="analyticsChart.datasets"
			[labels]="analyticsChart.labels"
			[options]="analyticsChart.options"
			[legend]="analyticsChart.legend"
			chartType="bar"
		>
		</canvas>
	</div>
</div>
