<ng-template #component>
	<app-inbox-toolbar></app-inbox-toolbar>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table">
			<thead>
				<tr>
					<th>
						<i-feather name="user"></i-feather>
					</th>
					<th>Email</th>
					<th>Subject</th>
					<th>Message</th>
					<th>Date</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<tr
					routerLink="/home/message-details/2"
					[class.unread]="i < 3"
					*ngFor="let item of [1, 2, 3, 4, 5, 6, 7]; let i = index"
				>
					<td>
						<i-feather name="mail"></i-feather>
					</td>
					<td>Danatalemarathospital@gmail.com</td>
					<td>For Approval</td>
					<td>
						We are interested in this platform. Please revert back
						on us as soon as possible....
					</td>
					<td>01-02-22</td>
					<td>03:26:13</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
