.unread {
	background: var(--bg2) !important;

	* {
		font-weight: 500;
		font-family: bold;
		color: var(--color1);
	}
}

* {
	color: var(--color2);
	font-weight: normal;
	font-family: normal;
}

tr {
	cursor: pointer;
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
	&:hover {
		box-shadow: rgba(200, 200, 202, 0.25) 0px 30px 60px -12px inset,
			rgba(204, 200, 200, 0.3) 0px 18px 36px -18px inset;
	}
}

td {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
