<ng-template #component>
	<app-inbox-toolbar></app-inbox-toolbar>
</ng-template>

<home-toolbar [component]="component"></home-toolbar>
<div class="page">
	<div class="page-content">
		<table class="table">
			<thead>
				<tr>
					<th>
						<i-feather name="user"></i-feather>
					</th>
					<th>Email</th>
					<th>Subject</th>
					<th>Message</th>
					<th>Date</th>
					<th>Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					[routerLink]="'/home/message-details/' + item.clinic?.id"
					[class.unread]="!item.isRead"
					*ngFor="let item of inboxes; let i = index"
				>
					<td>
						<i-feather name="mail"></i-feather>
					</td>
					<td>{{ item.clinic?.email || 'N/A' }}</td>
					<td>For Approval</td>
					<td>
						{{ item.message }}
					</td>
					<td>{{ item.createdAt | date: 'MMM dd, yyyy' }}</td>
					<td>{{ item.createdAt | date: 'hh:mm a' }}</td>
					<td>
						<i-feather name="chevron-right"></i-feather>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
